
  
  <div class="puntos">
    <p>VICTORIAS JUGADOR 1: {{victoriasj1}}</p>
    <p>VICTORIAS JUGADOR 2: {{victoriasj2}}</p>
  </div>

  <div class="container">
    <div class="container-buttons">
      <button
        (click)="valorArray(0)"
        class="posiciones"
        [ngClass]="{ colorplayer2: boolplayer }"
      ></button>
      <button
        (click)="valorArray(2)"
        class="posiciones"
        [ngClass]="{ colorplayer2: boolplayer }"
      ></button>
      <button
        (click)="valorArray(1)"
        class="posiciones"
        [ngClass]="{ colorplayer2: boolplayer }"
      ></button>
      <button
        (click)="valorArray(3)"
        class="posiciones"
        [ngClass]="{ colorplayer2: boolplayer }"
      ></button>
      <button
        (click)="valorArray(4)"
        class="posiciones"
        [ngClass]="{ colorplayer2: boolplayer }"
      ></button>
      <button
        (click)="valorArray(5)"
        class="posiciones"
        [ngClass]="{ colorplayer2: boolplayer }"
      ></button>
      <button
        (click)="valorArray(6)"
        class="posiciones"
        [ngClass]="{ colorplayer2: boolplayer }"
      ></button>
      <button
        (click)="valorArray(7)"
        class="posiciones"
        [ngClass]="{ colorplayer2: boolplayer }"
      ></button>
      <button
        (click)="valorArray(8)"
        class="posiciones"
        [ngClass]="{ colorplayer2: boolplayer }"
      ></button>
    </div>
  </div>

